/* resetting the margin and padding */
* {
    margin: 0;
    padding: 0;
  }
  
  .video-background {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }
  
  .video-background video {
    width: 100vw;
  }

  #form_header{
    height: 10vh;
    padding-top: 1rem;
    text-shadow: 1px 1px 1px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .nav_home{
    text-decoration: none;
    padding: 8px 20px;
    color: white;
    box-shadow: 1px 2px 3px black;
    background-color: transparent;
  }
  .nav_home:hover{
    color: black;
  }

  /* main section styles */
  .sign_up_parent{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .sign_up_parent h2{
    text-shadow: 1px 1px 1px red;
  }
  .myform{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .myform input{
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    color: black;
    text-shadow: 0.5px 0.5px 0.5px red;
  }
  .myform input::placeholder{
    color: white;
    text-shadow: 0.5px 0.5px 0.5px red;
  }

  #force_btn1, #force_btn2{
    width: 10vw;
    background-color: transparent;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }