/* resetting margin paddin etc */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.color_primary {
  color: #27272799;
  font-weight: 600;
}

/* header section starts here */
.shop_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shop_Headline {
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.nav_home {
  background-color: #e55473;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
  box-shadow: 1px 2px 3px black;
}
.nav_home:hover {
  color: #e55473;
  background-color: white;
}

/* main section styles */
#main_section {
  margin-top: 50px;
}
.flower_container {
  margin-top: 4rem;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.flower_item {
  width: 22vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.68rem;
  box-shadow: 0 4px 6px -1px black, 0 2px 4px -2px black;
  cursor: pointer;
}
.flower_item:hover {
  background-color: pink;
}
.flower_item img {
  width: 22vw;
  /* height: 50vh; */
}
.flower_item p {
  padding-left: 10px;
}
.flower_item h3 {
  width: 22vw;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px black;
  font-weight: bolder;
  text-shadow: 1px 1px 1px red;
}

/* footer section styles start here */
#footer_section {
  margin-top: 4rem;
  background-color: black;
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#footer_section h1 {
  font-weight: 800;
}
.footer_desc_para {
  margin-top: 15px;
  font-size: small;
  padding: 0 400px;
  color: rgba(255, 255, 255, 0.9);
}
.footer_span {
  color: #e55473;
}

.copyright_warn {
  font-size: x-small;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.bug {
  margin-top: 4rem;
}
/* footer section design completed */
