/* resetting margin, padding and family */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.color_primary {
  color: #27272799;
  font-weight: 600;
}

/* header_section styles */
#header_section {
  height: 95vh;
  background-color: #e554731a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
.header_box1 {
  height: 70vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_box1 h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: normal;
}
.header_box1 h1,
p,
button {
  margin-top: 2rem;
}
.header_box1 p{
    font-size: small;
    padding-right: 4rem;
    line-height: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  cursor: pointer;
  box-shadow: 1px 2px 3px black;
  font: bold;
  background-color: #e55473;
  color: white;
  border: 0;
  font-size: 1rem;
  border-radius: 6px;
}
.btn:hover {
  color: #e55473;
  background-color: white;
}

.header_box2 {
  /* background-color: blue; */
  height: 95vh;
  width: 35vw;
  display: flex;
  /* align-items: end; */
}
.header_box2 img {
  position: relative;
  bottom: 0;
  padding-top: 1rem;
}
/* header section styles completed */

/* features_section styles */
#features_section {
  height: 100vh;
  padding-top: 120px;
}
.frature_heading {
  width: 40vw;
  margin: auto;
  text-align: center;
}
.frature_heading h2 {
  font-weight: 800;
  text-shadow: 1px 1px 1px black;
  font-size: x-large;
}
.frature_heading p {
  font-size: small;
  padding: 0 40px;
}

.show_flower {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.flower_box {
  margin-top: 20px;
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 20px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
.flower_box img {
  width: 15vw;
  position: relative;
  bottom: 0;
}

/* fixing background color of images */
.img_bg_one {
  background-color: #a7216226;
}
.img_bg_two {
  background-color: #0597a026;
}
.img_bg_three {
  background-color: #477d1126;
}
.show_flower h4 {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  color: #272727;
  font-weight: 700;
  cursor: pointer;
}
/* features esction completed */

/* customar_care_section starts form here */
#customar_care_section {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer_care_parent {
  height: 36vh;
  width: 78vw;
  background-color: #2727270d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.customer_care_parent img {
  height: 5vw;
}
.customer_inner_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.customer_inner_div p {
  margin-top: 16px;
}
/* customer care section design completed */

/* hot_deal_section starts here */
#hot_deal_section {
  background-color: #e554730d;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.hot_deal_box {
  height: 45vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hot_deal_box p{
    font-size: small;
}
.hot_deal_box2 {
  height: 48vh;
  width: 20vw;
}
.hot_deal_box2 img{
    height: 48vh;
}
.radish_span{
    color: #E55473;
    font-weight: 800;
}