/* resetting margin, padding and family */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.color_primary {
  color: #27272799;
}

/* header_section styles */
#header_section {
  height: 95vh;
  background-color: #e554731a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header_box1 {
  height: 70vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_box1 h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: normal;
}
.header_box1 h1,p,button{
  margin-top: 2rem;
}
.header_box1 button {
  background-color: #e55473;
  color: white;
  border: 0;
  font-size: 1rem;
  border-radius: 6px;
}
.btn{
    width: 100px;
    height: 40px;
    cursor: pointer;
    box-shadow: 1px 2px 3px black;
}
.btn:hover{
    color: #e55473;
    background-color: white;
}

.header_box2 {
  /* background-color: blue; */
  height: 95vh;
  width: 35vw;
  display: flex;
  /* align-items: end; */
}
.header_box2 img{
    position: relative;
    bottom: 0;
    padding-top: 1rem;
}
/* header section styles completed */

/* features_section styles */
#features_section{
    height: 100vh;
    /* background-color: red; */
    padding-top: 120px;
}
.frature_heading{
    width: 40vw;
    margin: auto;
    text-align: center;
}
.frature_heading p{
    font-size: small;
}

.show_flower{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.flower_box{
    margin-top: 50px;
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}
.flower_box h4{
    text-decoration: underline;
}
.flower_box img{
    width: 15vw;
    position: relative;
    bottom: 0;
}